head
  meta(name="viewport" content="initial-scale=1, maximum-scale=1")
  title="PhotoFlow"
  link(rel="stylesheet" type="text/css" href="/public/style.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
body
  h3 Bitcoin USD Price : 
    span(id="usdPrice") #{COIN.USD}
  h3 Bitcoin ETH Price : 
    span(id="ethPrice") #{COIN.ETH}
  h3 Bitcoin EUR Price : 
    span(id="eurPrice") #{COIN.EUR}
  canvas(id="myChart" width="400px" height="400px")
script(src="/public/index.js")
